<p id="notice"><%= notice %></p>

<p>
  <strong>Rue:</strong>
  <%= @rue.rue %>
</p>

<p>
  <strong>Histoire:</strong>
  <%= @rue.histoire %>
</p>

<%= link_to 'Edit', edit_rue_path(@rue) %> |
<%= link_to 'Back', rues_path %>
